body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #7bb661;
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

#container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.message {
  z-index: 10;
  font-size: 24px;
  font-weight: bold;
  color: rgb(255, 0, 187);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: fadeIn 3s infinite alternate;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
