name: Deploy Web with Token
on:
  push:
    branches: ["main"] # Chạy mỗi khi bạn push code lên branch main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Inject Token into HTML
        run: |
          # Dùng lệnh sed để thay thế biến giả bằng Token thật từ Secret
          sed -i "s/REPLACE_WITH_GITHUB_TOKEN/${{ secrets.MY_GITHUB_TOKEN }}/g" index.html

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.'

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
